<!DOCTYPE html>
<html lang="ja" ng-app='myApp'>
<head>
  <meta charset="UTF-8">

  <title>CharaSheet</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/css/test.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="/js/app.js"></script>
</head>
<body> 
  <div class="jumbotron">
    <div class="container">
      <h1>クトゥルフキャラシート</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      
      <!-- サイドバー -->
      <div id="uctrl" class="col-xs-3" ng-controller="UserController as us">
        <div class="row" data-spy="affix" data-offset-top="220">
          <div class="panel panel-primary" id="user-skills">
            <div class="panel-heading">技能</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6">職業P {{us.getJobAll()}} / {{us.getJob()}}</div>
                <div class="col-xs-6">趣味P <span class="label label-default">{{us.getIntAll()}}</span> / {{us.getInt()}}</div>
              </div>
            </div>
            <table class="table" >
              <thead>
                <tr>
                  <th class="col-xs-6">名称</th><th class="col-xs-1">初</th><th class="col-xs-1">職</th><th class="col-xs-1">趣</th><th class="col-xs-2">計</th><th class="col-xs-1"><span class="glyphicon glyphicon-trash" /></th>
                </tr>
              </thead>
              <tbody>

                <!-- 取得スキル -->
                <tr ng-repeat="skill in us.skills | orderBy: 'groupid'">
                  <td><input type="text" ng-model="skill.name"></td>
                  <td>{{skill.ini}}</td>
                  <td><input type="number" ng-model="skill.job" ng-change="us.changeSum(skill)" ng-init="skill.job = 0"></td>
                  <td><input type="number" ng-model="skill.int" ng-change="us.changeSum(skill)" ng-init="skill.int = 0"></td>
                  <td><input type="number" ng-model="skill.sum" ng-init="skill.sum = skill.ini" readonly="readonly"></td>
                  <td><button class="btn btn-{{skill.theme}} btn-block" ng-click="us.deleteList(skill)"><span class="glyphicon glyphicon-trash" /></button></td>
                </tr>

                <!-- 追加 -->
                <tr>

                </tr>
              </tbody>
            </table>

            <!-- 出力 -->
            <div class="panel-footer">
              <div class="row">
                <div class="col-xs-4">
                  <button type="button" class="btn btn-primary center-block btn-block" ng-click="us.outputText()">text出力</button>
                </div>
                <div class="col-xs-4">
                  <button type="button" class="btn btn-primary center-block btn-block" ng-click="us.regUser()">DBに登録</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- メインコンテンツ -->
      <div class="col-xs-9">

        <!-- プロフィール -->
        <div class="row" ng-controller="ProfileController as profileC">
          <h2>プロフィール</h2>
          <div class="input-group">
            <span class="input-group-addon">名前</span>
            <input ng-model="profileC.profile.name" type="text" class="form-control" placeholder="ななしさん">
          </div>
          <div class="input-group">
            <span class="input-group-addon">職業</span>
            <input ng-model="profileC.profile.job" type="text" class="form-control" placeholder="消防士">
          </div>
          <div class="input-group">
            <span class="input-group-addon">備考</span>
            <textarea ng-model="profileC.profile.dsc" type="text" class="form-control" placeholder="たけのこの里が好き">aiueo</textarea>
          </div>
        </div>

        <!-- ステータス -->
        <div class="row" id="status" ng-controller="StatusController as statsC">
          <h2>
            ステータス
            <button class="btn btn-default" ng-click="statsC.statusSet()">
              <img src="/assets/saikoro.png">
            </button>
          </h2>
          <table class="table table-bordered">
            <tr>
              <th class="title"></th><th ng-repeat="stats in statsC.list">{{stats.name}}</th>
            </tr>
            <tr>
              <td>能力値</td>
              <td ng-repeat="stats in statsC.list">
                <input type="number" ng-model="stats.origin" ng-change="statsC.changeSum($index)" ng-init="stats.origin = 0" ng-if="stats.readonly" readonly="readonly">
                <input type="number" ng-model="stats.origin" ng-change="statsC.changeSum($index)" ng-init="stats.origin = 0" ng-if="!stats.readonly">
              </td>
            </tr>
            <tr>
              <td>増減値</td>
              <td ng-repeat="stats in statsC.list">
                <input type="number" ng-model="stats.vary" ng-change="statsC.changeSum($index)" ng-init="stats.vary = 0">
              </td>
            </tr>
            <tr>
              <td>合計値</td>
              <td ng-repeat="stats in statsC.list">
                <input type="number" ng-model="stats.sum" ng-init="stats.sum = 0" ng-attr-id="stats_{{stats.id}}" readonly="readonly">
              </td>
            </tr>
          </table>
        </div>
        
        <!-- skil一覧 -->
        <div class="row" ng-controller="SkillController as sc">
          <div class="panel panel-{{sc.getTheme(group._id)}}" ng-attr-id="{{'group_' + group._id}}" ng-repeat="group in sc.all.groups">
            <div class="panel-heading">{{group.name}}</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-2 block-mb-sm" ng-repeat="skill in group.skills">
                  <button type="button" class="btn btn-{{sc.getTheme(group._id)}} center-block btn-block" ng-click="sc.addList(skill._id, skill.name, skill.ini, group._id)">
                    {{skill.name}} {{skill.ini}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
</html>
